
<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
{% include "header.html" %}

<main>
	<p>
		Nerdsniper is a project by <a href="https://uli.rocks">me</a> to make finding people easier,
		by leveraging data from social media (currently just twitter).
	</p>
	<p>
		The idea is that in future you would be able to search things like this
	</p>
	<p><code>chess OR coder age:15-18</code></p>
	<p>
		and nerdsniper would be able to search millions of profiles,
		automatically pulled from social media and present you with the best matches.
	</p>

	<p>
	Here's the <a href="https://github.com/UlisseMini/nerdsniper/">github</a> if you're interested.
	</p>
</main>

</body>
</html>
