
<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
{% include "header.html" %}

<main>
	<p>
		Nerdsniper is an effort started by <a href="https://uli.rocks">me</a> to make finding people easier,
		by leveraging publically accessable data from social media.
	</p>
	<p>
		The idea is that in future you would be able to search things like this
	</p>
	<p><code>chess OR coder age:15-18 type:intj gender:F</code></p>
	<p>
		and nerdsniper would be able to search millions of profiles,
		automatically pulled from social media and present you with the best matches.
	</p>

	<p>
		Currently most features are aspirational, but the prototype is already quite capable,
		despite it only using a text search through people's twitter bios! I have hope that with
		enough work I can get this to a point of working quite well
	</p>
	<p>
		Here's a feature roadmap, in rough order of difficulty.
		excluding the huge number of boring changes never seen by users.
	</p>

	<ol>
		<li class="strike">Get prototype working</li>
		<li class="strike">Begin predicting gender</li>
		<li>Begin inferring interests from tweets and bio</li>
		<li>Begin predicting age</li>
		<li>Begin predicting myers briggs type</li>
	</ol>
</main>

</body>
</html>
