<!DOCTYPE html>
<html lang="en">

<head>
  <title>nerdsniper</title>
  <link rel="stylesheet" href="/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="/main.js"></script> -->
</head>

<body>
	<header>
		<h1>Nerdsniper</h1>
		<footer><i>{{motto}}</i></footer>
	</header>

  <main>

    <form action="/search" method="get" class="search-form">
			<input type="search" name="q" class="search-box" value="{{ search }}" required>
    </form>

    {% for user in users %}
    <div class="result">
      <span class="name">{{ user.name }}</span>
      <a class="username" href="https://twitter.com/{{ user.username }}">{{ user.username }}</a>
      <div class="bio">{{ user.description }}</div>
    </div>
    {% endfor %}

		{% if num_results == 0 %}
			<p><i>No results ):</i></p>
		{% endif %}

		{% if num_results == PAGE_SIZE %}
		<ul>
				{% for n in range(1, page+3) %}
					<li><a href="/search?q={{search}}&page={{n}}">{{n}}</a></li>
				{% endfor %}
		</ul>
		{% endif %}
  </main>
</body>

</html>
