<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
{% include "header.html" %}

<main>
	{% include "form.html" %}

	{% for user in users %}
	<div class="result">
		<span class="name">{{ user.name|e }}</span>
		<a class="username" href="https://twitter.com/{{ user.username|e }}">{{ user.username|e }}</a>
		<div class="bio">{{ user.description|e }}</div>
	</div>
	{% endfor %}

	{% if num_results == 0 %}
		<p><i>No results ):</i></p>
	{% endif %}

	{% if num_results == PAGE_SIZE %}
	<ul>
			{% for n in range(1, page+3) %}
				<li><a href="/search?q={{search}}&page={{n}}">{{n}}</a></li>
			{% endfor %}
	</ul>
	{% endif %}
</main>

</body>

</html>
