<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
{% include "header.html" %}

<main>
	{% include "form.html" %}

	{% for user in users %}
	<div class="result">
		<span class="name">{{ user.name|e }}</span>
		<a class="username" href="https://twitter.com/{{ user.username|e }}">{{ user.username|e }}</a>
		<div class="bio">{{ user.description|e }}</div>
	</div>
	{% endfor %}

	{% if num_results == 0 %}
		<p><i>No results, You're doomed to be forever alone</i></p>
	{% endif %}

	{% if num_results == PAGE_SIZE %}
	<a href="/search?q={{search}}&ptr={{ptr}}" class="next-page">Next page</a>
	{% endif %}
</main>

</body>

</html>
